<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Windware - Under Construction</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: left;
            margin-top: 0%;
            background-color: #f4f4f4;
            color: #333;
        }
        h1 {
            font-size: 2.5em;
        }
    </style>
</head>
<body>
    <h1>Windware</h1>
    <hr>
    <a href="/" target="_self" title="Homepage">
        <button style="background-color: #333333;color: aliceblue;border-radius:5px;">Homepage</button>
    </a>
    <a href="/windwaredata.html" target="_self" title="Windware Data">
        <button style="background-color: #333333;color: aliceblue;border-radius:5px;">Windware Data</button>
    </a>
    <a href="/downloaddata.html" target="_self" title="Download Data">
        <button style="background-color: aliceblue;color: #333333;border-radius:5px;">Download Data</button>
    </a>
    <a href="/about us.html" target="_self" title="About Us">
        <button style="background-color: #333333;color: aliceblue;border-radius:5px;">About Us</button>
    </a>
    <hr>

    <div class="container">
        <div class="row">
            <h3>Download data</h3>
            <p>Download the latest wind speed and direction data in CSV format.</p>
            <p>Click the button below to download the data!.</p>
            <a class="btn btn-success" href="{{url_for('download_data')}}">Download</a>
        </div>
    </div>


</body>
</html>