<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="60">
    <title>Windware - Under Construction</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: left;
            margin-top: 0%;
            background-color: #f4f4f4;
            color: #333;
        }
        h1 {
            font-size: 2.5em;
        }
    </style>
</head>
<body>
    <h1>Windware</h1>
    <hr>
    <a href="/" target="_self" title="Homepage">
        <button style="background-color: #333333;color: aliceblue;border-radius:5px;">Homepage</button>
    </a>
    <a href="/windwaredata.html" target="_self" title="Windware Data">
        <button style="background-color: #ffffff;color: rgb(0, 0, 0);border-radius:5px;">Windware Data</button>
    </a>
    <a href="/downloaddata.html" target="_self" title="Download Data">
        <button style="background-color: #333333;color: aliceblue;border-radius:5px;">Download Data</button>
    </a>
    <a href="/about us.html" target="_self" title="About Us">
        <button style="background-color: #333333;color: aliceblue;border-radius:5px;">About Us</button>
    </a>
    <hr>
    <h2>Windware Data</h2>
    <p>Windware data is a collection of wind speed and direction measurements taken from various locations. The data is used for analysis and modeling of wind patterns.</p>
    <h3>Winddata Overview</h3>
    <img src="../static/images/winddata.png" alt="Figure 1" width="600" title="x,y plot">
    <h3>Wind direction overview</h3>
    <img src="../static/images/wind_direction.png" alt="Figure 2" width="600" title="Q-Q plot">
    <h3>test exponential Q-Q plot</h3>
    <img src="../static/images/Figure 1.png" alt="Figure 2" width="600" title="Q-Q plot">

    <script>
        function checkLimit() {
            fetch('/check_limit')
                .then(response => response.json())
                .then(data => {
                    if (data.warning) {
                        alert(data.message); // Viser en popip med advarsel
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        // Tjekker grænsen hvert 5. sekund
        setInterval(checkLimit, 5000);
    </script>

</body>
</html>